.nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;

    height: 100dvh;
    
    @media screen and (max-width: 1075px) {
        right: none;
        left: 0;

        width: 100dvw;
        height: auto;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        width: 100%;
        height: 100%;

        padding: 15px;

        box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.25);
        background: rgb(255, 255, 255);

        @media screen and (max-width: 1075px) {
            flex-direction: row;

            &::first-child {
                margin-right: auto;
            }
        }    
    }

    &__item {
        position: relative;  

        &:first-of-type {
            margin-right: auto;
        }

        &:first-of-type::before {
            content: "Главная";
        }

        &:nth-of-type(2):before {
            content: "История";
        }

        &:nth-of-type(3):before {
            content: "Этапы";
        }

        &:last-of-type::before{
            content: "Модели";
        }

        &::before {
            position: absolute;
            top: 50%;
            right: 100%;

            transform: translateY(-50%);

            width: 0;

            background-color: white;

            overflow: hidden;

            transition: width 0.3s ease-out, color 0.3s ease-out, backgorund-color 0.3s ease-out;

            @media screen and (max-width: 1075px) {
                display: none;
            } 
        }

        &:hover {
            &::before {
                padding: 15px 55px;

                border: 1px solid black;
                background-color: $accent-color;
                color: white;

                width: 200px;
            }

            img {
                background-color: $accent-color;
                scale: 0.8;
            }
        }
    }


    &__img {
        width: 70px;

        transition: background-color 0.2s ease,
                    scale 0.2s ease;
    }
}

