.header {
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100dvh;

    &:hover {
        .header__top-half {
            transform: translateY(-90%);
        }

        .header__bottom-half {
            transform: translateY(90%);
        }
    }

    &__content {
        position: relative;
        z-index: 10;

        width: 100%;
        height: 100%;
    }

    &__title,
    &__button {
        position: relative; //1.2rem
        z-index: 10;
    }

    &__title {
        letter-spacing: 0.66em;
        text-transform: uppercase;
        text-align: right;

        cursor: default;
        color: rgb(120, 120, 120);

        // display: block;

        @media screen and (max-width: 1075px) {
            position: absolute;
            top: calc(250 / 1080 * 100dvh);
            left: 50%;
            transform: translateX(-50%);
            z-index: 11;
        }
    }

    &__button {
        color: rgb(255, 255, 255);
        line-height: 30px;

        font-size: adaptive-font-size(1rem, 0.6rem);
        white-space: nowrap;

        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);

        padding: 40px 120px;

        border-radius: 20px;
        background: rgb(141, 69, 69);

        transition: scale 0.1s ease, background 0.1s ease;

        &:hover {
            scale: 1.2;
            background: #974e4e;

        }

        &::before {
            content: url('../img/before-btn.png');
            position: absolute;
            right: 96%;
            top: 0;
        }

        &::after {
            content: url('../img/after-btn.png');
            position: absolute;
            left: 96%;
            top: 0;
        }

        @media screen and (max-width: 1075px) {
            padding: 15px 35px;

            &::before, &::after {
                content: "";
                height: 110%;
                aspect-ratio: 101 / 128;
            }

            &::before {
                background: url("../img/before-btn.png") center/contain no-repeat;
                right: 93%;
            }

            &::after {
                background: url("../img/after-btn.png") center/contain no-repeat;
                left: 93%;
            }
        } 
    }

    &__mobile-img{
        display: none;

        @media screen and (max-width: 768px) {
            display: block;
            width: 100%;

            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%, -50%);
            z-index: 10;
        } 
    }

    &__video {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        height: 100%;
        width: 100%;
        object-fit: cover;

        @media screen and (max-width: 768px) {
            display: none;
        } 
    }

    &__top-half,
    &__bottom-half {
        height: 50%;
        width: 100%;

        background: #fff;

        position: absolute;
        z-index: 2;
        left: 0;

        transition: transform 0.3s ease-in;
    }

    &__top-half {
        top: 0;
    }

    &__bottom-half {
        top: 50%;
    }
}
