@keyframes picture-change{
    0%{
        left: 0;
    }

    33%{
        left: -100%;
    }

    66%{
        left: -200%;
    }

    100%{
        left: -300%;
    }
}

@keyframes data-change{
    0%{
        top: 0;
    }
    
    12.5% {   
        top: -100%;
    }
    
    25% {
        top: -200%;
    }
    
    37.5% {
        top: -300%;
    }
    
    50% {
        top: -400%;
    }
    
    62.5% {
        top: -500%;
    }
    
    75% {
        top: -600%;
    }
    
    87.5% {
        top: -700%;
    }
    
    100% {
        top: -700%;
    }
}