.container {
    padding: $grid-gap;

    width: 100%;
    height: 100%;
    
    max-width: $container-width;
    margin: 0 auto;
}

.section-title {
    color: $title-color;

    &::first-letter{
        font-size: 4rem;
    }
}

.section-text {
    color: $text-color;

    &::first-line{
        color: $text-second-color;
    }
}

html {
    font-family: $font-main;
    font-size: $font-size-base;
    font-weight: 400;
}

h1 {
    font-size: 8rem;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}