@charset "UTF-8";
/* Reset and base styles  */
@import '../fonts/Cormorant Infant/stylesheets.css';
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: none;
  color: unset;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container {
  padding: 20px;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.section-title {
  color: #000000;
}
.section-title::first-letter {
  font-size: 4rem;
}

.section-text {
  color: #787878;
}
.section-text::first-line {
  color: #000000;
}

html {
  font-family: "Cormorant Infant", Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
}

h1 {
  font-size: 8rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

@-webkit-keyframes picture-change {
  0% {
    left: 0;
  }
  33% {
    left: -100%;
  }
  66% {
    left: -200%;
  }
  100% {
    left: -300%;
  }
}

@keyframes picture-change {
  0% {
    left: 0;
  }
  33% {
    left: -100%;
  }
  66% {
    left: -200%;
  }
  100% {
    left: -300%;
  }
}
@-webkit-keyframes data-change {
  0% {
    top: 0;
  }
  12.5% {
    top: -100%;
  }
  25% {
    top: -200%;
  }
  37.5% {
    top: -300%;
  }
  50% {
    top: -400%;
  }
  62.5% {
    top: -500%;
  }
  75% {
    top: -600%;
  }
  87.5% {
    top: -700%;
  }
  100% {
    top: -700%;
  }
}
@keyframes data-change {
  0% {
    top: 0;
  }
  12.5% {
    top: -100%;
  }
  25% {
    top: -200%;
  }
  37.5% {
    top: -300%;
  }
  50% {
    top: -400%;
  }
  62.5% {
    top: -500%;
  }
  75% {
    top: -600%;
  }
  87.5% {
    top: -700%;
  }
  100% {
    top: -700%;
  }
}
.nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 100dvh;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
}
.nav__item {
  position: relative;
}
.nav__item:first-of-type::before {
  content: "Главная";
}
.nav__item:nth-of-type(2):before {
  content: "История";
}
.nav__item:nth-of-type(3):before {
  content: "Этапы";
}
.nav__item:last-of-type::before {
  content: "Модели";
}
.nav__item::before {
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  background-color: white;
  overflow: hidden;
  -webkit-transition: width 0.3s ease-out, color 0.3s ease-out, backgorund-color 0.3s ease-out;
  transition: width 0.3s ease-out, color 0.3s ease-out, backgorund-color 0.3s ease-out;
}
.nav__item:hover::before {
  padding: 15px 55px;
  border: 1px solid black;
  background-color: #8d4545;
  color: white;
  width: 200px;
}
.nav__item:hover img {
  background-color: #8d4545;
  scale: 0.8;
}
.nav__img {
  width: 70px;
  -webkit-transition: background-color 0.2s ease, scale 0.2s ease;
  transition: background-color 0.2s ease, scale 0.2s ease;
}

.header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100dvh;
}
.header:hover .header__top-half {
  -webkit-transform: translateY(-90%);
          transform: translateY(-90%);
}
.header:hover .header__bottom-half {
  -webkit-transform: translateY(90%);
          transform: translateY(90%);
}
.header__content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.header__title, .header__button {
  position: relative;
  z-index: 10;
}
.header__title {
  letter-spacing: 0.66em;
  text-transform: uppercase;
  text-align: right;
  cursor: default;
  color: rgb(120, 120, 120);
}
.header__button {
  color: rgb(255, 255, 255);
  line-height: 30px;
  position: absolute;
  left: 50%;
  bottom: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px 120px;
  border-radius: 20px;
  background: rgb(141, 69, 69);
  -webkit-transition: scale 0.1s ease;
  transition: scale 0.1s ease;
  background: 0.1s ease;
}
.header__button:hover {
  scale: 1.2;
  background: #974e4e;
}
.header__button::before {
  content: url("../img/before-btn.png");
  position: absolute;
  right: 96%;
  top: 0;
}
.header__button::after {
  content: url("../img/after-btn.png");
  position: absolute;
  left: 96%;
  top: 0;
}
.header__video {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__top-half, .header__bottom-half {
  height: 50%;
  width: 100%;
  background: #fff;
  position: absolute;
  z-index: 2;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}
.header__top-half {
  top: 0;
}
.header__bottom-half {
  top: 50%;
}

.history {
  width: 100%;
  min-height: 700px;
  padding: 100px 0;
}
.history .container {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.history .container > * {
  width: 50%;
}
.history .picture {
  height: 600px;
  overflow: hidden;
  position: relative;
}
.history .picture__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: picture-change 25s linear 0s infinite;
          animation: picture-change 25s linear 0s infinite;
}

.dates .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
}
.dates__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  height: 70px;
  overflow-y: hidden;
}
.dates__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-size: 50px;
  position: relative;
  -webkit-animation: data-change 10s ease-in-out 1s infinite;
          animation: data-change 10s ease-in-out 1s infinite;
}
.dates__precept {
  color: #787878;
}
.dates__img {
  height: 40px;
}

.models {
  width: 100%;
  padding: 100px 0;
}
.models .container {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.models__title {
  width: 100%;
  text-align: center;
  margin-bottom: 90px;
}
.models__content {
  width: 100%;
}
.models__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.models__item:nth-of-type(2n + 1) {
  margin-left: auto;
}
.models__item:nth-of-type(2n + 1)::before {
  content: "hello";
}
.models__item:nth-of-type(2n)::after {
  content: "bye";
}